<div class="container">
    <div class="row contact-row">
        <div class="col-md-12 contact-column">
          <h1>Contact</h1>
          <h2>Interested in Joining?</h2>
          <h2>EMI has you covered, weather you want to play or build</h2>
        </div>
    </div>

       
       
        <div class="row">
        
          <div class= "col-md-6">
            <h2 class="colored-gray">President</h2>
              <div class="content-contact">
                  <ul>
                      <li>Name: Patrick Schoeps</li>
                      <li>Phone: (248) 804-9593</li>
                      <li>Email: pschoeps@umich.edu</li>
                  </ul>
              </div>
          </div>
          
          <div class="col-md-6">
              <h2 class= "colored-gray">Co-President</h2>
                <div class="content">
                    <ul>
                        
                    </ul>
                </div>
          </div>
        </div>
</div> 